.full-width{
	width: 1200px;
	margin: 0 auto;
	overflow: 0 auto;
}
.half-width{
	width: 600px;
	float: left;
}
.third-width{
	width: 400px;
	float: left;
}
body{
	background: #28073e;
}
header h3{
	color: #ffffff;
	float: left;
	font-size: 25px;
	padding-left: 10px;
}
h3
{
	font-family: 'Rubik', sans-serif;
}

nav ul li{
    display: inline-block;
}
header ul li a {
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	color: #ffffff;
	font-weight: bold;
	font-size: 25px;
	padding-left: 30px;
	padding-right:30px;
}
header ul{
float: right;
}
header img{
	margin-right: auto;
	margin-left: auto;
	width: 100%
}
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.left-side {
	position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
}
#welcome h1 {
	color: #ffffff;
	font-size: 56px;
	font-family: 'Roboto Condensed', sans-serif;
}
span
{
	color: #01fa82;
}

.section-block{
	height: 450px;
}
#portfolio {
	height: 1550px;
}
#portfolio h2 {
    color: #01fa82;
    font-size: 45px;
    line-height: 100px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}
#portfolio h3{
	color: #ffffff;
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	
}
#portfolio p{
	color: #ffffff;
	font-family: 'Rubik', sans-serif;
	font-size: 25px;
}
#about h3{
	font-size: 35px;
}
#about ul{
	font-size: 25px;
	text-align: left;
}
#about h3 ul{
	color: black;
}
#about h2{
	clear:both;
	color: #01fa82;
    font-size: 45px;
    line-height: 100px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#contact {
	height: 450px;
	text-align: center;
}
#contact img{
	padding-left: 10px;
	padding-right: 10px;
}
#contact {
	color: #ffffff;
}
#contact h2{
	clear:both;
	color: #01fa82;
    font-size: 45px;
    line-height: 100px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

#contact h3{
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
}
#contact a{
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
	font-size: 25px;
}
#contact p{
	 font-family: 'Rubik', sans-serif;
	 font-size: 25px;
}